html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.text-center {
    text-align: center;
}

.center-block {
    margin: 10px auto;
}
.center-input {
    display: block;
    margin: 10px auto;
}

.btn:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hero {
    padding: 50px 0;
}

.tag {
    display: inline;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #333;
    transition: all 0.33s ease;
    margin-right: 2px;
}
.tag:hover {
    background: #333;
    color: #ddd;
    cursor: pointer;
}

.modal.show .modal-dialog {
    transform: translate(0, 75%);
}
