html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.center-block {
  margin: 10px auto;
}
.center-input {
  display: block;
  margin: 10px auto;
}

.btn:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}
